<%- include('../partials/header') %>

<h1>About Me</h1>

<img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Fronalpstock_big.jpg" alt="Mountain landscape" class="img-fluid my-3" style="max-width: 500px;">

<p>
    My name is John Nelson. I am studying electronics technology and also learning web development.
    This project shows how server-side templates can be used to create linked web pages.
</p>

<p>
    Image source:
    <a href="https://commons.wikimedia.org/wiki/File:Fronalpstock_big.jpg" target="_blank">
        Wikimedia Commons
    </a>
</p>

<%- include('../partials/footer') %>
