<%- include('../partials/header') %>

<h1>Electronics</h1>

<img src="/images/circuit-board.jpg" alt="Electronic circuit board" class="img-fluid my-3" style="max-width: 500px;">

<p>
    Electronics is one of my main areas of interest. I enjoy learning how circuits, components,
    power supplies, sensors, and control systems work together.
</p>

<p>
    This topic connects to careers such as electronics technician, biomedical technician,
    automation technician, and avionics technician.
</p>

<p>
    Image source:
    <a href="https://commons.wikimedia.org/wiki/File:Electronic_circuit.jpg" target="_blank">
        Wikimedia Commons
    </a>
</p>

<%- include('../partials/footer') %>