<%- include('../partials/header') %>

<h1>Welcome to My EJS Website</h1>

<img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" alt="Node.js logo" class="img-fluid my-3" style="max-width: 350px;">

<p>
    This website was created using Node.js, Express.js, and EJS templates.
    It uses reusable header and footer partials so each page has the same layout.
</p>

<p>
    Image source:
    <a href="https://commons.wikimedia.org/wiki/File:Node.js_logo.svg" target="_blank">
        Wikimedia Commons
    </a>
</p>

<%- include('../partials/footer') %>
