<%- include('../partials/header') %>

<h1>Web Projects</h1>

<img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" alt="HTML5 logo" class="img-fluid my-3" style="max-width: 300px;">

<p>
    Web projects help me practice HTML, CSS, JavaScript, Node.js, Express, and EJS.
    This page is part of a dynamic website because Express handles the routes and EJS builds the pages.
</p>

<p>
    I like that EJS makes it possible to reuse the same navigation and footer across multiple pages.
</p>

<p>
    Image source:
    <a href="https://commons.wikimedia.org/wiki/File:HTML5_logo_and_wordmark.svg" target="_blank">
        Wikimedia Commons
    </a>
</p>

<%- include('../partials/footer') %>